<!-- TASK: 7. Weather view component -->
<div class="card">
   <div class="row">
            <div class="col-md-4 offset-1">
                <p>Please input a City below.</p>                
					<input
        class="form-control"
        type="text"  (input)="inputValidator($event)"      
        aria-describedby="weatherLocation"
        placeholder="Please input a City" id="name" #cityName>
		
		</div>
     <div class="col-md-2">
      	<button class="btn btn-success btnWeather" (click)="getCityWeather()">Search for the weather</button>
     </div>   
 </div>
<div class="row offset-1">	
<table *ngIf='resultFound()'>
  <tbody>
  <tr>
      <td>
        <label></label>
      </td>
    </tr>
  <tr>
      <td>
        <h5 class="center" *ngIf='resultFound()'>Current weather for {{currentWeather.name}}</h5>
      </td>
    </tr>
	 <tr>
      <td>
        <h6>Country:</h6>
      </td>
      <td>	    
	  {{currentWeather.message}}
        {{currentWeather.sys?.country}}
      </td>
    </tr>
    <tr>
      <td>
        <h6>Current Temperature:</h6>
      </td>
      <td>
        {{currentWeather.main?.temp - 273.15 | number:'1.0-0'}}<sup>o</sup>C
      </td>
    </tr>
    <tr>
      <td>
        <h6>Maximum Temperature:</h6>
      </td>
      <td>
        {{currentWeather.main?.temp - 273.15 | number:'1.0-0'}}<sup>o</sup>C
      </td>
    </tr>
    <tr>
      <td>
        <h6>Minimum Temperature:</h6>
      </td>
      <td>
        {{currentWeather.main?.temp_min - 273.15 | number:'1.0-0'}}<sup>o</sup>C
      </td>
    </tr>
    <tr>
      <td>
        <h6>Clouds:</h6>
      </td>
      <td>
        {{currentWeather.clouds?.all}}%
      </td>
    </tr>
    <tr>
      <td>
        <h6>Humidity</h6>
      </td>
      <td>
        {{currentWeather.main?.humidity}}%
      </td>
    </tr>
	 <tr>
      <td>
        <h6>Wind-Speed:</h6>
      </td>
      <td>
        {{currentWeather.wind?.speed}}
      </td>
    </tr>
    <tr>
      <td>
        <h6>Pressure</h6>
      </td>
      <td>
        {{currentWeather.main?.pressure}}mb
      </td>
    </tr>
    <tr>
      <td>
        <h6>Sunrise</h6>
      </td>
      <td>
        {{currentWeather.sys?.sunrise*1000 | date:'long'}}
      </td>
    </tr>
    <tr>
      <td>
        <h6>Sunset</h6>
      </td>
      <td>
        {{currentWeather.sys?.sunset*1000 | date:'long'}}
      </td>
    </tr>
    <tr>
      <td>
        <h6>Visibility</h6>
      </td>
      <td>
        {{currentWeather.visibility}}m
      </td>
    </tr>
  </tbody>
</table>
<!-- Need to parse error to get the proper error message -->
<div *ngIf='!resultFound()'>
  <h5 class="center">{{error.message}}</h5>
</div>			
</div>
         <div class="card-footer">
		      <a class="btn btn-danger" style="float:right;" routerLink="/home">Home</a>			            			  
         </div>
</div>


